{
    admin localhost:2019
}

api.mortal-ai.net {
    handle /platform/* {
        reverse_proxy localhost:8001
    }
    handle {
        reverse_proxy localhost:8000
    }
}

api.wawa.mortal-ai.net {
    reverse_proxy localhost:8000
}
